.navbar {
  width: 20%;
  height: 100%;
  margin-left: 5%;
  margin-top: 10em;
}

.navlink-box {
  margin-top: 4em;
  margin-left: 1em;
}

.navlink {
  font-size: 20px;
  margin-top: 1em;
  font-family: 'Roboto', sans-serif;
}

#title {
  color: black;
  font-size: 40px;
  font-family: 'Rakkas', cursive;
  text-decoration: none;
}
